body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-image 0.5s ease;
    background-size: cover;
    background-position: center;
    background-image: url('img/bg.jpg');
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2,
.weather-info p {
    margin: 10px 0;
}